rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /user/{id} {
      allow read: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow create: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow update: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow delete: if request.auth != null && request.auth.uid != null && request.auth.token.admin == true;
    }
    match /todo/{id} {
      allow read: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (resource.data.user == request.auth.uid);
      allow create: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (request.resource.data.user == request.auth.uid);
      allow update: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (request.resource.data.user == request.auth.uid && resource.data.user == request.auth.uid);
      allow delete: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (resource.data.user == request.auth.uid);
    }
    match /tags/{id} {
      allow read: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (resource.data.owner == request.auth.uid);
      allow create: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (request.resource.data.owner == request.auth.uid);
      allow update: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (request.resource.data.owner == request.auth.uid && resource.data.owner == request.auth.uid);
      allow delete: if (request.auth != null && request.auth.uid != null && request.auth.token.admin == true) || (resource.data.owner == request.auth.uid);
    }
    match /public/{id} {
      allow read: if true;
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}