rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allImages=**} {
      allow read, write: if false;
    }
    match /todos/{id}/assets/{imageId} {
      allow read: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
      allow create: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.exists(/databases/(default)/documents/todo/$(id)) ? (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid) : (request.auth != null));
      allow update: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
      allow delete: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
    }
    match /users/{id}/profilePicture/{imageId} {
      allow read: if (request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow create: if (request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow update: if (request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
      allow delete: if (request.auth.uid != null && request.auth.token.admin == true) || (id == request.auth.uid);
    }
    match /todos/{id}/tokens/{imageId} {
      allow read: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
      allow create: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.exists(/databases/(default)/documents/todo/$(id)) ? (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid) : (request.auth != null));
      allow update: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
      allow delete: if (request.auth.uid != null && request.auth.token.admin == true) || (firestore.get(/databases/(default)/documents/todo/$(id)).user == request.auth.uid);
    }
  }
}